* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$font-color:#FFFFFF;
$font-weight-bold: bold;
@mixin overlay-position {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin centering {}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}

html {
    padding-bottom: 40px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 10px 40px;
}

.overlay {
    @include overlay-position;
    z-index: -99;
}

.header {
    @include overlay-position;
    z-index: 100;
    width: 100%;
    &__wrap {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }
    &__logo-for-PK {
        padding: 20px;
        align-items: center;
        text-decoration: none;
        font-weight: $font-weight-bold;
        font-size: 20px;
        color: $font-color;
    }
    &__logo {
        display: flex;
    }
}

// logo for smartphones
.logo_for_smart {
    display: none;
}

@media screen and (max-width:370px) {
    .header {
        &__logo {
            padding: 0;
            display: none;
        }
        &__wrap {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
    .logo_for_smart {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: white;
        text-decoration: none;
        font-weight: $font-weight-bold;
        font-size: 20px;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        padding: 5px 20px;
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        color: $font-color;
    }
    &__sign {
        border: 2px solid white;
        border-radius: 40px;
    }
}

.baner {
    position: relative;
    min-height: 100vh;
    padding: 110px 0;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    & {
        background-color: black;
    }
    &__wrap {
        height: 100%;
        position: relative;
    }
    &__content {
        max-width: 470px;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        font-weight: $font-weight-bold;
        font-size: 52px;
        line-height: 63px;
        color: $font-color;
        padding: 10px 0;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #F7F3F2;
    }
    &__button {
        margin-top: 20px;
        width: 225px;
        min-height: 40px;
    }
}

.partners {
    &__list {
        // min-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 122px;
        margin: 0 auto;
        position: relative;
    }
    &__image {
        margin: 0 auto;
        height: 122px;
        width: 122px;
        border-radius: 50%;
        position: relative;
    }
    &__wrap {
        text-align: center;
    }
    &__name-subtitle {
        font-size: 14px;
    }
    &__name {
        padding: 10px;
        font-weight: $font-weight-bold;
        color: #444444;
    }
    &__subtitle {
        padding: 0 20px;
        font-family: 'Roboto', sans-serif;
        margin: 5px auto;
        font-weight: 300;
        color: #666666;
        max-width: 221px;
    }
    &__bgc-small-image {
        box-sizing: content-box;
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 4px solid rgb(255, 255, 255);
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    &__icon {
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.image-music {
    background-color: #FF4E50;
}

.image-photo {
    background-color: #19D4CA;
}

.image-paint {
    background-color: #FFA710;
}

.image-fly {
    background-color: #667DF3;
}

.work-dreamshare__list,
.flex__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
}

.flex {
    padding: 30px 0;
    position: relative;
    &__overlay {
        background-color: black;
    }
    &__item {
        min-height: 310px;
        position: relative;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bg {
        @include overlay-position;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
    &__text {
        position: relative;
        z-index: 2;
        font-weight: $font-weight-bold;
        font-size: 22px;
        color: $font-color;
        overflow: hidden;
        // display: flex;
    }
}

.work-dreamshare {
    &__overlay {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
    &__item {
        min-height: 400px;
        position: relative;
        margin: 20px;
        display: flex;
        align-items: flex-end;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
    &__text {
        position: relative;
        z-index: 2;
        padding: 10px 10px;
        max-width: 100%;
    }
    &__title {
        font-weight: $font-weight-bold;
        font-size: 24px;
        line-height: 26px;
        color: $font-color;
        padding: 10px 10px;
    }
    &__subtext {
        font-family: 'Roboto', sans-serif;
        padding: 10px 10px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #E3E3E3;
    }
    &__cl {
        padding: 10px 10px;
    }
    &__step {
        min-width: 70px;
        min-height: 20px;
        background: #FF4E50;
        border-radius: 40px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $font-color;
    }
}

@media screen and (max-width: 370px) {
    .work-dreamshare__text {
        line-height: 20px;
    }
}

@media screen and (min-width: 371px) and (max-width: 767px) {
    .work-dreamshare__text {
        line-height: 20px;
    }
}

@media screen and (min-width:371px) {
    .work-dreamshare__list,
    .flex__list {
        margin: 0 -20px;
    }
    .flex__item.w1-3,
    .work-dreamshare__item.w1-3 {
        width: calc(100% / 3 - 40px);
    }
    .flex__item.w2-3 {
        width: calc(100% * 2 / 3 - 40px);
    }
    .flex__item.w1-2 {
        width: calc(100% / 2 - 40px);
    }
    .partners__itm {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 371px) and (max-width: 767px) {
    .partners__itm {
        width: 50%;
        margin: 0 auto;
        // margin: 20px 0;
    }
}

@media screen and (max-width:370px) {
    .flex__item {
        width: 100%;
        // margin: 20px 0;
    }
    .flex__img-size {
        min-height: 120px;
    }
    .partners__itm {
        width: 100%;
        margin: 20px auto;
    }
}

.title {
    padding: 30px;
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #444444;
}

@media screen and (max-width: 370px) {
    .title {
        font-size: 22px;
    }
}

@media screen and (min-width: 371px) and (max-width: 767px) {
    .title {
        font-size: 22px;
    }
}

.section-activities__subtitle {
    font-family: 'Roboto', sans-serif;
    padding: 23px;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #666666;
}

.input {
    width: 299px;
    height: 40px;
    padding-left: 20px;
}

.section-activities__form {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #FF4E50;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    color: #FCFCFC;
    font-weight: $font-weight-bold;
    font-size: 14px;
}

.partners__button {
    margin-top: 20px;
    width: 180px;
    min-height: 40px;
    color: #FF4E50;
    background-color: $font-color;
}

.section-activities__button {
    padding: 5px;
    width: 172.12px;
    min-height: 40px;
}

.form {
    display: flex;
}

@media screen and (min-width: 371px) and (max-width: 767px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 370px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .section-activities__button {
        margin: 0 auto;
    }
    .input {
        margin: 10px auto;
        max-width: 100%;
    }
}

.section-activities {
    padding-bottom: 100px;
}

.footer {
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        text-decoration: none;
        font-size: 16px;
        color: #FF4E50;
    }
    &__nav {
        display: flex;
    }
    &__navigation {
        font-weight: $font-weight-bold;
        font-size: 14px;
        color: #444444;
    }
    &__design {
        padding-bottom: 10px;
        font-weight: $font-weight-bold;
        font-size: 10px;
        letter-spacing: 1px;
        color: #CCCCCC;
        text-transform: uppercase;
        text-align: right;
    }
    &__nav-menu {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        color: #999999;
    }
}

.des {
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid #FF4E50;
    margin-bottom: 30px;
}

@media screen and (max-width: 370px) {
    .footer {
        &__wrap {
            display: block;
            text-align: center;
        }
        &__nav {
            display: block;
        }
    }
    .des {
        display: block;
    }
    .footer__img {
        display: block;
        margin-left: 30%;
    }
}