* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: #F2F2F2;
}

html {
    padding-bottom: 40px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    /* outline: 4px dotted black; */
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header__logo {
    display: flex;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.link__sign {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}

.baner {
    min-height: 100vh;
    padding: 110px 0;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    background-image: url('./images/Bitmap (4).png');
    /* opacity: 0.8; */
}

.baner__wrap {
    height: 100%;
}

.baner__content {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
}

.baner__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
    padding: 10px 0;
}

.baner__subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #F7F3F2;
}

.baner__button {
    margin-top: 20px;
    width: 225px;
    height: 40px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
}

.partners__item {
    position: relative;
    outline: 2px solid rgb(255, 18, 204);
}

.partners__image {
    height: 122px;
    width: 122px;
    border-radius: 50%;
    position: relative;
    margin: 0 48px;
    outline: 2px dotted blue;
}

.image-one {
    background-image: url('./images/Bitmap.png');
}

.image-two {
    background-image: url('./images/Bitmap (1).png');
}

.image-three {
    background-image: url('./images/Bitmap (2).png');
}

.image-four {
    background-image: url('./images/Bitmap (3).png');
}

.partners__wrap {
    text-align: center;
}

.partners__name {
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    /* text-align: center; */
    color: #444444;
}

.partners__subtitle {
    font-weight: 300;
    font-size: 14px;
    /* text-align: center; */
    color: #666666;
    max-width: 221px;
}

.partners__bgc-small-image {
    box-sizing: content-box;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    right: 40px;
    bottom: 0;
    z-index: 0;
}

.image-music {
    background-color: #FF4E50;
    background-image: url('./images/music2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.image-photo {
    background-color: #19D4CA;
    background-image: url('./images/music2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.image-paint {
    background-color: #FFA710;
    background-image: url('./images/music2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.image-fly {
    background-color: #667DF3;
    background-image: url('./images/music2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.flex {
    padding: 30px 0;
}

.work-dreamshare__list,
.flex__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.flex__text {
    padding-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}

.flex__image-one {
    background-image: url('./images/Object.png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-two {
    background-image: url('./images/Object (1).png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-three {
    background-image: url('./images/Object (2).png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-four {
    background-image: url('./images/Object (3).png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-five {
    background-image: url('./images/Object (4).png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-six {
    background-image: url('./images/Object (5).png');
    background-size: cover;
    min-height: 310px;
}

.flex__image-seven {
    background-image: url('./images/Object (7).png');
    background-size: cover;
    min-height: 310px;
}

.work-dreamshare__item,
.flex__item {
    position: relative;
    margin: 20px;
    padding: 10px 0;
    outline: 2px dotted blue;
}

.work-dreamshare__bgi {
    min-height: 400px;
    background-size: cover;
}

.work-dreamshare__image-one {
    background-image: url('./images/Object (9).png');
}

.work-dreamshare__image-two {
    background-image: url('./images/Object (10).png');
}

.work-dreamshare__image-three {
    background-image: url('./images/Object (11).png');
}

.work-dreamshare__text {
    padding-top: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}

.work-dreamshare__subtext {
    margin-top: 10px;
    text-align: center;
    padding: 20px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
}

.work-dreamshare__step {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 25px;
    top: 219px;
    background: #FF4E50;
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
}

@media screen and (min-width:601px) {
    .work-dreamshare__list,
    .flex__list {
        margin: 0 -20px;
    }
    .flex__item.w1-3,
    .work-dreamshare__item.w1-3 {
        width: calc(100% / 3 - 40px);
    }
    .flex__item.w2-3 {
        width: calc(100% * 2 / 3 - 40px);
    }
    .flex__item.w1-2 {
        width: calc(100% / 2 - 40px);
    }
}

@media screen and (max-width:600px) {
    .flex__item {
        width: 100%;
        margin: 20px 0;
    }
}

.title {
    padding: 30px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    text-align: center;
    color: #444444;
}

.section-activities__subtitle {
    padding: 23px;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #666666;
}

.input {
    /* display: flex; */
    width: 299px;
    height: 40px;
    padding-left: 20px;
    margin-left: 228px;
    margin-right: 10px;
}

.button {
    background-color: #FF4E50;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    color: #FCFCFC;
    font-weight: bold;
    font-size: 14px;
}

.partners__button {
    margin-top: 20px;
    /* margin-left: 50%; */
    width: 180px;
    height: 40px;
    color: #FF4E50;
    background-color: white;
}

.section-activities__button {
    width: 172.12px;
    height: 40px;
}

.form {
    display: flex;
}

.section-activities {
    padding-bottom: 100px;
}

.footer__wrap {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.footer__logo {
    text-decoration: none;
    font-size: 16px;
    color: #FF4E50;
}

.footer__nav {
    display: flex;
}

.footer__navigation {
    font-weight: bold;
    font-size: 14px;
    color: #444444;
}

.des {
    display: flex;
    flex-direction: column;
}

.footer__design {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #CCCCCC;
    text-transform: uppercase;
    text-align: right;
}

.footer__nav-menu {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    color: #999999;
}

hr {
    border: 1px solid #FF4E50;
    margin-bottom: 30px;
}